@font-face {
	font-family: 'MyriadPron';
	src: url('../../fonts/MyriadPro/MyriadPro-Regular.eot');
	src: url('../../fonts/MyriadPro/MyriadPro-Semibold.eot') format('embedded-opentype'),
		url('../../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
		url('../../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}